# Step1. Setup paths

In [1]:
import os
from functions.setup_aws import *

os.chdir('/home/mic/Desktop/Udacity 2020/data engineering/Projects Repo/data_engineering_udacity/Proj2 AWS DWH/')

iam_config = 'configs/iam.cfg'
aws_config = 'configs/aws.cfg'

# Step2. Setup AWS

### Step 2a. Setup Redshift cluster

In [ ]:
#create a client for Redshift
redshift_admin = create_redshift_admin(iam_config)

In [ ]:
#create a Redshift cluster with specs defined in aws.cfg
response = create_cluster(aws_config, redshift_admin)

#### Check status until cluster is available.

In [ ]:
# cluster status
cluster_id = response['Cluster']['ClusterIdentifier']
cluster_params = redshift_admin.describe_clusters(ClusterIdentifier = cluster_id)['Clusters'][0]
cluster_params['ClusterStatus']

#### Update aws.cfg with cluster parameters

In [ ]:
# get cluster parameters
cl_vpc_id = cluster_params['VpcId']
cl_vpc_sg_id = cluster_params['VpcSecurityGroups'][0]['VpcSecurityGroupId']
cl_endpoint_adress = cluster_params['Endpoint']['Address']
cl_endpoint_port = cluster_params['Endpoint']['Port']

# update aws.cfg
config = configparser.ConfigParser()
config.read_file(open('configs/aws.cfg'))

config['CLUSTER']['cl_vpc_id'] = cl_vpc_id
config['CLUSTER']['cl_vpc_sg_id'] = cl_vpc_sg_id
config['DB']['db_host'] = cl_endpoint_adress
config['DB']['db_port'] = str(cl_endpoint_port)

with open('configs/aws.cfg', 'w') as configfile:
    config.write(configfile)

configfile.close()

### Step2b. Open endpoint for inbound connections

In [ ]:
#open an incoming TCP port to access the cluster ednpoint
open_tcp_endpoint(iam_config, aws_config)

#### Test connection

In [ ]:
#test connection
conn = make_connection(aws_config)
print(conn)
conn.close()

# Step3. Dowload sample raw data

In [ ]:
s3 = create_s3(iam_config)
bucket_name = 'udacity-dend'
sampleDbBucket =  s3.Bucket(bucket_name)

In [ ]:
#print sample song data
for obj in sampleDbBucket.objects.filter(Prefix="song_data/A/A/A/"):
    print(obj)

In [ ]:
#print sample log data
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

In [ ]:
#download sample data
s3.Bucket(bucket_name).download_file(Key = 'song_data/A/A/A/TRAAAAK128F9318786.json', Filename = 'samples/TRAAAAK128F9318786.json')
s3.Bucket(bucket_name).download_file(Key = 'log_data/2018/11/2018-11-01-events.json', Filename = 'samples/2018-11-01-events.json')
s3.Bucket(bucket_name).download_file(Key = 'log_json_path.json', Filename = 'samples/log_json_path.json')

# Step4. ETL - create and populate tables

In [2]:
%run 'functions/create_tables.py'

In [3]:
%run 'functions/etl.py'

#### check inserts

In [4]:
config = configparser.ConfigParser()
config.read_file(open(aws_config))

db_name = config.get("DB", "db_name")
db_user = config.get("DB", "db_user")
db_pwd = config.get("DB", "db_pwd")
db_host = config.get("DB", "db_host")
db_port = config.get("DB", "db_port")

conn_string="postgresql://{}:{}@{}:{}/{}".format(db_user, db_pwd, db_host, db_port, db_name)
%load_ext sql
%sql $conn_string

'Connected: dwhuser@dwh'

In [5]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@redshiftcluster1.cwgmqhhjm20q.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, datetime.datetime(2018, 11, 3, 1, 5, 50), '53', None, 'Playa Haters', None, None, 52, None, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"'),
 (5, datetime.datetime(2018, 11, 3, 1, 8, 36), '53', None, 'You Belong With Me', None, None, 52, None, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"'),
 (9, datetime.datetime(2018, 11, 3, 1, 12, 26), '53', None, 'Valerie', None, None, 52, None, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"'),
 (13, datetime.datetime(2018, 11, 3, 1, 16, 15), '53', None, 'Dizzy', None, None, 52, None, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"'),
 (17, datetime.datetime(2018, 11, 3, 14, 17, 50), '69', None, 'Supelicula', None, None, 158, None, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [6]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@redshiftcluster1.cwgmqhhjm20q.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('100', 'Adler', 'Barrera', 'M', 'free'),
 ('101', 'Jayden', 'Fox', 'M', 'free'),
 ('11', 'Christian', 'Porter', 'F', 'free'),
 ('12', 'Austin', 'Rosales', 'M', 'free')]

In [7]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@redshiftcluster1.cwgmqhhjm20q.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263')),
 ('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 'AR70XXH1187FB44B55', 0, Decimal('101')),
 ('SOAAETA12A6D4FC626', 'Shine', 'ARQXK0B1187B9ACC97', 2007, Decimal('448')),
 ('SOAAFHQ12A6D4F836E', "Ridin' Rims (Explicit Album Version)", 'AR3CQ2D1187B9B1953', 2006, Decimal('322')),
 ('SOAAHZO12A67AE1265', 'Agni Sha Kshi', 'AR9DE5T1187FB48CA3', 0, Decimal('229'))]

In [8]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@redshiftcluster1.cwgmqhhjm20q.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', 25, -100),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', 40, -73),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)]

In [9]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@redshiftcluster1.cwgmqhhjm20q.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 20, 57, 10), 20, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 1, 46), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 2, 12), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 4)]

#### Run sample queries:

* top 10 most popular songs

In [10]:
%%sql
select row_number() over () as place, * from (
select song, count(*) as plays from songplays group by 1 order by 2 desc limit 10);

 * postgresql://dwhuser:***@redshiftcluster1.cwgmqhhjm20q.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(1, "You're The One", 37),
 (2, 'Undo', 28),
 (3, 'Revelry', 27),
 (4, 'Sehr kosmisch', 21),
 (5, 'Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', 19),
 (6, 'Secrets', 17),
 (7, 'Canada', 17),
 (8, 'Dog Days Are Over (Radio Edit)', 16),
 (9, 'Fireflies', 14),
 (10, 'ReprÃ\x83Â©sente', 14)]

* number of songplays by week day

In [14]:
%%sql
select weekday, count(*) as plays from songplays join time using(start_time) group by 1 order by 1;

 * postgresql://dwhuser:***@redshiftcluster1.cwgmqhhjm20q.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[(1, 1014), (2, 1071), (3, 1364), (4, 1052), (5, 1295), (6, 628), (7, 396)]

# Clean-up

In [ ]:
#delete cluster
cluster_id = 'redshiftCluster1'
delete_cluster(cluster_id, redshift_admin)

In [ ]:
#verify cluster deletion
try:
    status = redshift_admin.describe_clusters(ClusterIdentifier = cluster_id)['Clusters'][0]['ClusterStatus']
    print('Cluster status: {}'.format(status))
except Exception as e:
    print(e)